body{
	font-family: @body-font;
	font-size: 160%;
}

.my-navbar{
	border-radius: 0px;
	min-height: 0px;
	background: @green;
	color: #191919;

	ul{
		li{
			a{
				color: #191919;
				font-family: @h-font;

				&:hover{
					background: @dark-green-1;
				}
				
			}
		}
	}
}

#top{
	padding: 10px 0px;
}